<p>product-list works!</p>

<mat-grid-list gutterSize="10px" cols="2" rowHeight="3:2">
  <mat-grid-tile *ngFor="let product of products" rowspan='1'>
    <mat-card>
      <mat-card-title>
        {{product.name}}
      </mat-card-title>

      <img matCardImage [src]="product.photo">

      <mat-card-actions align='end'>
        <button mat-icon-button color='primary' (click)="onPin(product.autoId)">
          <mat-icon>push_pin</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
