<mat-grid-list cols='4' rowHeight='300px' gutterSize='20px'>

  <mat-grid-tile *ngFor="let item of martItems$|async" colspan='1' style="background: red;">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{item.name}} </mat-card-title>
        <mat-card-subtitle>ID: {{item.id}}</mat-card-subtitle>
        <img mat-card-avatar src="assets/avatar_universe.jpg">
      </mat-card-header>
      <mat-card-content>
        <img mat-card-lg-image src="assets/avatar_universe.jpg">
      </mat-card-content>

      <mat-card-actions align='end'>

        <mat-icon *ngIf="item.isSelected">done</mat-icon>

        <button mat-icon-button color='accent' (click)='addToCart(item.id)'>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
