<mat-toolbar color='primary'>

  <button mat-icon-button (click)='sideNav.toggle()'>
    <mat-icon>{{sideNav.opened?'close':'menu'}}</mat-icon>
  </button>

  <span>{{title}}</span>

  <span class="toolbar-seprator"></span>

  <mat-chip-list>
    <mat-chip>
      {{(account$|async).email}}
    </mat-chip>
  </mat-chip-list>

  <button mat-icon-button matTooltip="Log Out" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav position='start' mode='push' #sideNav>
    <mat-nav-list>
      <h3 mat-subheader>Product</h3>
      <a routerLink='/products' mat-list-item>Products</a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Cart</h3>
      <a routerLink='/mart' mat-list-item>Mart</a>
      <h3 mat-subheader>Manage</h3>
      <a routerLink='/manage' mat-list-item>Manage</a>
      <h3 mat-subheader>Account</h3>
      <a routerLink='/account' mat-list-item>Account</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
